# Server
PORT=4001
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/scheduler_db

# External Services
NOTIFICATION_SERVICE_URL=http://localhost:4002
ANALYTICS_SERVICE_URL=http://localhost:4000

# Security / Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Agenda
AGENDA_COLLECTION=agendaJobs
AGENDA_PROCESS_EVERY=30 seconds
